<!-- Button trigger modal -->
<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal"
        style="margin-top: 10%;background: darkorange">
  Tìm xe
</button>

<!-- Modal -->
<div class="modal fade modal-dialog-scrollable" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content" style="border-radius: 30px">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="justify-content-center m-0 mb-2">
          <div>
            <div>
              <h1 style="size:32px; margin-top: 50px; margin-bottom: 10px; text-align: center">TÌM KIẾM XE</h1>
            </div>
            <div>
              <div class="col-0"></div>
              <div class="col-12 container-fluid">
                <div class="row">
                  <div class="col-1"></div>
                  <div class="col-9" style="text-align: right">
                    <form class="d-flex"
                          style="margin-top: 10px; margin-bottom: 20px;margin-left: 40px">
                      <div class="col-4">
                        <label style="float: left">Tên khách hàng:</label>
                        <input class="form-control me-2" name="name" type="search" #customerName
                               placeholder="Nhập tên khách hàng"
                               aria-label="Search" style="border: 1px solid #b6effb">
                      </div>
                      <div class="col-4" style="margin-left: 20px">
                        <label style="float: left">Số điện thoại:</label>
                        <input class="form-control me-2" name="name" type="search" #customerPhoneNumber
                               placeholder="Nhập số điện thoại"
                               aria-label="Search" style="border: 1px solid #b6effb">
                      </div>
                      <div class="col-4" style="margin-left: 20px">
                        <label style="float: left">Biển số xe:</label>
                        <input class="form-control me-2" name="name" type="search" #carPlateNumber
                               placeholder="Nhập biển số xe"
                               aria-label="Search" style="border: 1px solid #b6effb">
                      </div>
                      <div style="margin-left:20px;margin-top: 25px">
                        <button class="btn" type="submit"
                                (click)="searchCarOut(customerName.value,customerPhoneNumber.value,carPlateNumber.value)"
                                style="text-align: center; size: 5px; border: 0px solid #B6EFFB;background-color: darkorange;width: 100px">
                          <!--                          <i class="fa-solid fa-magnifying-glass"></i>-->
                          Tìm kiếm
                        </button>
                      </div>

                    </form>
                  </div>
                </div>
                <div>
                  <h1 style="size:32px; margin-top: 60px; margin-bottom: 40px; text-align: center">
                    BẢNG LỰA CHỌN</h1>
                </div>


                <table class="table table-bordered table-hover mt-3"
                       style="text-align: center;box-shadow: 0 0 10px 0 #253365">
                  <thead style="background-color: #E67E22">
                  <tr style="font-size: 19px;text-align: center">
                    <th scope="col">STT</th>
                    <th scope="col">Biển số xe</th>
                    <th scope="col">Tên khách hàng</th>
                    <th scope="col">Số CMND</th>
                    <th scope="col">Số điện thoại</th>
                    <th scope="col">Thời gian vào</th>
                    <th scope="col">Ngày vé hiệu lực</th>
                    <th scope="col">Ngày vé hết hạn</th>
                    <th scope="col">Chọn</th>
                  </tr>
                  </thead>
                  <tbody style="text-align: center">
                  <tr *ngFor="let item of dataList, let i = index">
                    <td>{{i + 1}}</td>
                    <td>{{item.carPlateNumber}}</td>
                    <td>{{item.customerName}}</td>
                    <td>{{item.customerIdCard}}</td>
                    <td>{{item.customerPhoneNumber}}</td>
                    <td>{{item.timeIn}}</td>
                    <td>{{item.ticketEffectiveDate}}</td>
                    <td>{{item.ticketExpiryDate}}</td>
                    <td>
                      <button (click)="selectCar(item.carId)" data-bs-dismiss="modal" class="btn"
                              style="background-color: darkorange;font-size: 13px">Chọn
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-1"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

