<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
  <div class="container">

    <div class="section-title">
      <h2>Hình ảnh thực tế</h2>
      <p>Hệ thống đỗ xe thông minh</p>
    </div>

    <div class="row portfolio-container">

      <div class="col-lg-4 col-md-6 portfolio-item">
        <div class="portfolio-wrap">
          <img src="../../assets/img/landing-page/landing-page2.png"
               class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="" data-gallery="portfolioGallery"><em class="bi bi-plus"></em></a>
          </div>
          <div class="portfolio-info">
            <h4>Đỗ xe tầng</h4>
            <p></p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item">
        <div class="portfolio-wrap">
          <img src="../../assets/img/landing-page/landing-page1.png"
               class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="" data-gallery="portfolioGallery"><em class="bi bi-plus"></em></a>
          </div>
          <div class="portfolio-info">
            <h4>Đỗ xe âm sàn</h4>
            <p></p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item">
        <div class="portfolio-wrap">
          <img src="../../assets/img/landing-page/landing-page3.jpg"
               class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="" data-gallery="portfolioGallery"><em class="bi bi-plus"></em></a>
          </div>
          <div class="portfolio-info">
            <h4>Đỗ tự động dạng tháp</h4>
            <p></p>
          </div>
        </div>
      </div>

    </div>

  </div>

</section><!-- End Portfolio Section -->

<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
  <div class="container">

    <div class="section-title">
      <h2>Dịch vụ & Khuyến mãi</h2>
      <p>Các dịch vụ cung cấp</p>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
        <div class="icon-box">
          <div class="icon"><em class="fa-sharp fa-solid fa-square-parking"></em></div>
          <h4 class="title"><a href="">Lưu giữ</a></h4>
          <p class="description">Dịch vụ lưu giữ xe theo ngày, tháng, năm</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
        <div class="icon-box">
          <div class="icon"><em class="fa-sharp fa-solid fa-soap"></em></div>
          <h4 class="title"><a href="">Vệ sinh</a></h4>
          <p class="description">Dịch vụ khuyến mãi vệ sinh ngoại thất xe dành cho khách hàng thân
            thiết</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
        <div class="icon-box">
          <div class="icon"><em class="fa-solid fa-screwdriver-wrench"></em></div>
          <h4 class="title"><a href="">Bảo dưỡng</a></h4>
          <p class="description">Theo dõi, bảo dưỡng xe theo yêu cầu</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
        <div class="icon-box">
          <div class="icon"><em class="fa-sharp fa-solid fa-building"></em></div>
          <h4 class="title"><a href="">Lắp đặt hệ thống đậu xe tự động</a></h4>
          <p class="description">Thiết kế và thi công hệ thống đỗ xe tự dộng</p>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Services Section -->
