<div class="row" style="padding-top: 30px">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-xl-10" style="border: 1px solid black; border-radius: 20px; box-shadow: 0 0 10px 0 #253365; background-color: white">
      <h1 style="text-align: center; margin-top: 30px; margin-bottom: 50px">CHI TIẾT THÔNG TIN CHI TIẾT VỊ TRÍ</h1>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-11">
          <div class="row d-flex">
            <div class="row align-items-center py-3 col-6">
              <div class="col-5">
                <label style="font-weight: bold">Tầng:  </label>
              </div>
              <div class="col-7">
                <p>{{locationDetailDto.floorName}}</p>
              </div>
            </div>

            <div class="row align-items-center py-3 col-6">
              <div class="col-5">
                <label style="font-weight: bold" class="mb-0">Vị trí: </label>
              </div>
              <div class="col-7">
                <p>{{locationDetailDto.floorName}}{{locationDetailDto.sectionName}}{{locationDetailDto.locationName}}</p>
              </div>
            </div>
          </div>
          <div class="row d-flex">
            <div class="row align-items-center py-3 col-6">
              <div class="col-5">
                <label style="font-weight: bold">Ngày sinh :</label>
              </div>
              <div class="col-7">
                <p>{{locationDetailDto.dateOfBirth}}</p>
              </div>
            </div>

            <div class="row align-items-center py-3 col-6">
              <div class="col-5">
                <label style="font-weight: bold" class="mb-0">Biển số xe : </label>
              </div>
              <div class="col-7">
                <p>{{locationDetailDto.plateNumber}}</p>
              </div>
            </div>
          </div>

          <div class="row d-flex">
            <div class="row align-items-center py-3 col-6">
              <div class="col-5">
                <label style="font-weight: bold">Tên khách hàng :</label>
              </div>
              <div class="col-7">
                <p>{{locationDetailDto.customerName}}</p>
              </div>
            </div>

            <div class="row align-items-center py-3 col-6">
              <div class="col-5">
                <label style="font-weight: bold" class="mb-0">Sdt khách hàng: </label>
              </div>
              <div class="col-7">
                <p>{{locationDetailDto.customerPhoneNumber}}</p>
              </div>
            </div>
          </div>
          <div class="row d-flex">
            <div class="row align-items-center py-3 col-6">
              <div class="col-5">
                <label style="font-weight: bold">Loại xe: </label>
              </div>
              <div class="col-7">
                <p>{{locationDetailDto.nameCarType}}</p>
              </div>
            </div>

            <div class="row align-items-center py-3 col-6">
              <div class="col-5">
                <label style="font-weight: bold" class="mb-0">Tên Xe: </label>
              </div>
              <div class="col-7">
                <p>{{locationDetailDto.nameCar}}</p>
              </div>
            </div>
          </div>



          <div class="row d-flex">
            <div class="row align-items-center py-3 col-6">
              <div class="col-5">
                <label style="font-weight: bold">Email :  </label>
              </div>
              <div class="col-7">
                <p>{{locationDetailDto.customerEmail}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class=" text-center">
        <button type="reset" class="btn m-4 w-25" style="background-color:orangered">Quay lại</button>
      </div>
    </div>
  </div>
</div>

