<br>
<h1 style="text-align: center;text-shadow: 0px 5px 5px #999999;font-size: 30px">BIỂU ĐỒ THỐNG KÊ SỐ LƯỢNG XE</h1>
<br>
<div class="container">
  <div class="row ">
    <div class="col-xl-12 container">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="row col-md-3">
          <div class="col-md-5">
            <label style="font-weight: bold; padding: 10px;font-size: 15px">Từ tháng:</label>
          </div>
          <div class="col-md-6">
            <select class="form-select" style="font-size: 15px" #sinceMonth>
              <option value="1" selected>--Chọn tháng--</option>
              <option [value]="1">Tháng 1</option>
              <option [value]="2">Tháng 2</option>
              <option [value]="3">Tháng 3</option>
              <option [value]="4">Tháng 4</option>
              <option [value]="5">Tháng 5</option>
              <option [value]="6">Tháng 6</option>
              <option [value]="7">Tháng 7</option>
              <option [value]="8">Tháng 8</option>
              <option [value]="9">Tháng 9</option>
              <option [value]="10">Tháng 10</option>
              <option [value]="11">Tháng 11</option>
              <option [value]="12">Tháng 12</option>
            </select>
            <p style="color: red" *ngIf="errorMessage == true">*Tháng bắt đầu phải nhỏ hơn tháng kết thúc</p>
          </div>
          <div class="col-md-1"></div>
        </div>

        <div class="row  col-md-4">
          <div class="col-md-4">
            <label style="font-weight: bold; padding: 10px;font-size: 15px">Đến tháng:</label>
          </div>
          <div class="col-md-6">
            <select class="form-select" style="font-size: 15px" #toMonth>
              <option value="1" selected>--Chọn tháng--</option>
              <option [value]="1">Tháng 1</option>
              <option [value]="2">Tháng 2</option>
              <option [value]="3">Tháng 3</option>
              <option [value]="4">Tháng 4</option>
              <option [value]="5">Tháng 5</option>
              <option [value]="6">Tháng 6</option>
              <option [value]="7">Tháng 7</option>
              <option [value]="8">Tháng 8</option>
              <option [value]="9">Tháng 9</option>
              <option [value]="10">Tháng 10</option>
              <option [value]="11">Tháng 11</option>
              <option [value]="12">Tháng 12</option>
            </select>
          </div>
          <p style="color: red" *ngIf="errorMessage == true">*Tháng kết thúc phải nhỏ hơn tháng bắt đầu</p>
          <div class="col-md-2"></div>
        </div>
        <div class="row  col-md-3">
          <div class="col-md-4">
            <label style="font-weight: bold; padding: 10px;font-size: 15px">Năm :</label>
          </div>
          <div class="col-md-6">
            <select class="form-select" style="font-size: 15px" #year>
              <option value="1" selected>--Chọn năm--</option>
              <option [value]="2022">năm 2022</option>
              <option [value]="2023">năm 2023</option>
            </select>
          </div>
          <div class="col-md-2"></div>
        </div>
        <div class="col-md-1 ">
          <button  style="background-color: orange; border: 10px" class="col-md-12 btn " (click)="statistics(sinceMonth.value, toMonth.value , year.value)">Thống kê
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <canvas id="myChart"></canvas>
</div>
