<div class="row container">
  <div class="col-md-3"></div>
  <div class="col-md-8 d-flex justify-content-center align-items-center">
    <div class="card" style="border-radius: 15px;">
      <div class="card-body" style="background-color: whitesmoke; box-shadow: 0 0 20px 0 #253365">

          <h1 style="text-align: center; margin-top: 30px; margin-bottom: 50px">THÔNG TIN KHÁCH
            HÀNG</h1>
          <div class="row d-flex" >
            <div class="row align-items-center py-3 col-md-6">
              <div class="col-md-4">
                <label style="font-weight: bold; margin-left: 23px">Họ và tên:</label>
              </div>
              <div class="col-md-8">{{customer.name}}
              </div>
            </div>
            <div class="row align-items-center py-3 col-6">
              <div class="col-md-5">
                <label style="font-weight: bold;">Mã khách hàng:</label>
              </div>
              <div class="col-md-7">{{customer.id}}
              </div>
            </div>
          </div>
          <div class="row d-flex">
            <div class="row align-items-center py-3 col-md-6">
              <div class="col-md-4">
                <label style="font-weight: bold; margin-left: 23px">CCCD:</label>
              </div>
              <div class="col-md-8">{{customer.idCard}}
              </div>
            </div>
            <div class="row align-items-center py-3 col-md-6">
              <div class="col-md-5">
                <label style="font-weight: bold">Giới tính:</label>
              </div>
              <div class="col-md-7">
                <label>
                  <div class="value" *ngIf="customer.gender == true">Nam</div>
                  <div class="value" *ngIf="customer.gender == false">Nữ</div>
                </label>
              </div>
            </div>
          </div>
          <div class="row d-flex">
            <div class="row align-items-center py-3 col-md-6">
              <div class="col-md-4">
                <label style="font-weight: bold; margin-left: 23px">Email:</label>
              </div>
              <div class="col-md-8">{{customer.email}}
              </div>
            </div>
            <div class="row align-items-center py-3 col-md-6">
              <div class="col-md-5">
                <label style="font-weight: bold">Số điện thoại:</label>
              </div>
              <div class="col-md-7">{{customer.phoneNumber}}
              </div>
            </div>
          </div>
          <div class="row align-items-center py-3">
            <div class="col-md-2">
              <label style="font-weight: bold; margin-left: 23px">Ðịa chỉ:</label>
            </div>
            <div class="col-md-10" style="margin-left: -10px">{{customer.street}}, {{commune}}, {{district}}, {{province}}.
            </div>
          </div>
          <div class="row align-items-center py-3">
            <h2 style="text-align: center; margin-bottom: 10px">THÔNG TIN XE</h2>
            <div class="row" >
              <div class="col-md-1"></div>
              <div class="col-md-10">
                <table class="table table-bordered table-hover mt-3"
                       style="text-align: center;box-shadow: 0 0 10px 0 #253365">
                  <thead class="table btn-warning" style="background-color:  #E67E22">
                  <tr>
                    <th scope="col">Mã xe</th>
                    <th scope="col">Loại xe</th>
                    <th scope="col">Tên xe</th>
                    <th scope="col">Loại vé</th>
                    <th scope="col">Biển số xe</th>
                    <th scope="col">Ngày hết hạn</th>
                    <th scope="col">Vị trí đỗ</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of carTickets">
                    <td>{{item.carId}}</td>
                    <td>{{item.carTypeName}}</td>
                    <td>{{item.carName}}</td>
                    <td>{{item.ticketTypeName}}</td>
                    <td>{{item.plateNumber}}</td>
                    <td>{{item.expiryDate}}</td>
                    <td>{{item.floorName}}{{item.sectionName}}{{item.locationName}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-1"></div>
            </div>
          </div>
          <div align="center" class="px-5 py-4">
            <button type="button" class="btn btn-secondary" routerLink="/customer/list">Quay lại</button>
          </div>

      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>


