<section>
  <div class=" py-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <div class="card-body" style="box-shadow: 0 0 20px 0 #253365">
            <h1 class="mb-3 mt-3 text-center">THÊM MỚI VỊ TRÍ ĐỖ</h1>

            <form class="px-md-4 " [formGroup]="locationForm" (ngSubmit)="addLocation()">
              <div class="row align-items-center pt-4 pb-4">
                <div class="col-md-4 ps-3">
                  <label style="font-weight: bold" class="mb-0">Tầng<sup
                    style="color: red; font-size: 15px" class="m-1">*</sup></label>
                </div>
                <div style="position: relative" class="col-md-8 pe-4">
                  <select (change)="findSection($event)"  formControlName="floor" class="form-select" aria-label="Default select example">
                    <option value="" selected> Chọn tầng</option>
                      <option *ngFor="let floors of floorList" [ngValue]="floors">{{floors.name}}</option>
                  </select>
                  <p style="color: red;position:  absolute"
                     *ngIf="(clickButton && locationForm.controls.floor.hasError('required'))||
                       locationForm.controls.floor.hasError('required') && locationForm.controls.floor.touched">
                    * Tầng không được để trống.</p>
                </div>
              </div>

              <div class="row align-items-center pt-3 pb-4">
                <div class="col-md-4 ps-3">
                  <label style="font-weight: bold" class="mb-0">Dãy<sup
                    style="color: red; font-size: 15px" class="m-1">*</sup></label>
                </div>
                <div style="position: relative" class="col-md-8 pe-4">
                  <p *ngIf="isFullSection">Tầng này đầy chỗ rồi</p>
                  <select *ngIf="isSelectedFloor && !isFullSection"  formControlName="section" class="form-select" aria-label="Default select example">
                    <option value="" selected>Chọn dãy</option>
                    <option *ngFor="let sections of sectionList" [ngValue]="sections">{{sections.name}}</option>
                  </select>
                  <p style="color: red;position: absolute"
                     *ngIf="(clickButton && locationForm.controls.section.hasError('required'))||
                       locationForm.controls.section.hasError('required') && locationForm.controls.section.touched">
                    * Dãy không được để trống.</p>
                </div>
              </div>
            <!--  <div class="row align-items-center pt-4 pb-4">
                <div class="col-md-4 ps-3">

                  <label style="font-weight: bold" class="mb-0">Số vị trí<sup
                    style="color: red; font-size: 15px" class="m-1">*</sup></label>
                </div>
                <div style="position: relative" class="col-md-8 pe-4">
                  <input formControlName="name" type="number" placeholder="Nhập vị trí"
                         class="form-control form-control-md">
                  <p style="color: red;position: absolute"
                     *ngIf="(clickButton && locationForm.controls.name.hasError('required'))||
                       locationForm.controls.name.hasError('required') && locationForm.controls.name.touched">
                    *
                   Vị trí không được để trống.</p>
                  <p style="color: red;position: absolute"
                     *ngIf="(clickButton && locationForm.controls.name.hasError('min'))||
                       locationForm.controls.name.hasError('min') && locationForm.controls.name.touched">
                    *
                   Vị trí không được nhập số âm.</p>
                &lt;!&ndash;  <p style="color: red;position: absolute"
                     *ngIf="(clickButton && locationForm.controls.name.hasError('pattern'))||
                       locationForm.controls.name.hasError('pattern') && locationForm.controls.name.touched">
                    *
                    Vị trí không được nhập chữ .</p>
&ndash;&gt;
                </div>

              </div>-->
              <div class="row align-items-center pt-4 pb-4">
                <div class="col-md-4 ps-3">

                  <label style="font-weight: bold" class="mb-0">Chiều rộng<sup
                    style="color: red; font-size: 15px" class="m-1">*</sup></label>
                </div>
                <div style="position: relative" class="col-md-8 pe-4">
                  <input formControlName="width" type="number" placeholder="Nhập chiều rộng"
                         class="form-control form-control-md">
                  <p style="color: red;position: absolute"
                     *ngIf="(clickButton && locationForm.controls.width.hasError('required'))||
                       locationForm.controls.width.hasError('required') && locationForm.controls.width.touched">
                    *
                    Chiều rộng không được để trống.</p>
                  <p style="color: red;position: absolute"
                     *ngIf="(clickButton && locationForm.controls.width.hasError('min'))||
                       locationForm.controls.width.hasError('min') && locationForm.controls.width.touched">
                    *
                    Chiều rộng không được nhập số âm.</p>
                 <!-- <p style="color: red;position: absolute"
                     *ngIf="(clickButton && locationForm.controls.width.hasError('pattern'))||
                       locationForm.controls.width.hasError('pattern') && locationForm.controls.width.touched">
                    *
                   Chiều rộng Không được nhập chữ.</p>-->
                </div>
              </div>

              <div class="row align-items-center pt-4 pb-4">
                <div class="col-md-4 ps-3">
                  <label style="font-weight: bold" class="mb-0">Chiều cao<sup
                    style="color: red; font-size: 15px" class="m-1">*</sup></label>
                </div>
                <div style="position: relative" class="col-md-8 pe-4">
                  <input formControlName="height" type="number" placeholder="Nhập chiều cao"
                         class="form-control form-control-md">
                  <p style="color: red;position: absolute"
                     *ngIf="(clickButton && locationForm.controls.height.hasError('required'))||
                       locationForm.controls.height.hasError('required') && locationForm.controls.height.touched">
                    *
                    Chiều cao không được để trống.</p>
                  <p style="color: red;position: absolute"
                     *ngIf="(clickButton && locationForm.controls.height.hasError('min'))||
                       locationForm.controls.height.hasError('min') && locationForm.controls.height.touched">
                    *
                   Chiều cao không được nhập số âm.</p>
                 <!-- <p style="color: red;position: absolute"
                     *ngIf="(clickButton && locationForm.controls.height.hasError('pattern'))||
                       locationForm.controls.height.hasError('pattern') && locationForm.controls.height.touched">
                    *
                   Chiều cao không được nhập chữ.</p>-->
                </div>
              </div>

              <div class="row align-items-center pt-4 pb-4">
                <div class="col-md-4 ps-3">

                  <label style="font-weight: bold" class="mb-0">Chiều dài<sup
                    style="color: red; font-size: 15px" class="m-1">*</sup></label>

                </div>
                <div style="position: relative" class="col-md-8 pe-4">
                  <input formControlName="length" type="number" placeholder="Nhập chiều dài"
                         class="form-control form-control-md"/>
                  <p style="color: red;position: absolute"
                     *ngIf="(clickButton && locationForm.controls.length.hasError('required'))||
                       locationForm.controls.length.hasError('required') && locationForm.controls.length.touched">
                    *
                   Chiều dài không được để trống.</p>
                  <p style="color: red;position: absolute"
                     *ngIf="(clickButton && locationForm.controls.length.hasError('min'))||
                       locationForm.controls.length.hasError('min') && locationForm.controls.length.touched">
                    *
                   Chiều dài không được nhập số âm.</p>
                 <!-- <p style="color: red;position: absolute"
                     *ngIf="(clickButton && locationForm.controls.length.hasError('pattern'))||
                       locationForm.controls.length.hasError('pattern') && locationForm.controls.length.touched">
                    *
                    Chiều dài không được nhập chữ.</p>-->
                </div>
              </div>
              <div class="row align-items-center pt-4 pb-3">
                <div class="col-md-4 ps-3">
                  <label style="font-weight: bold" class="mb-0">Loại xe cho phép<sup
                    style="color: red; font-size: 15px" class="m-1">*</sup></label>
                </div>
                <div style="position: relative" class="col-md-8 pe-3">
                  <div class="form-check" style="display: inline-flex;">
                    <div class="form-check">
                      <input type="checkbox" formControlName="car4">
                      Xe 4 chỗ
                    </div>
                  </div>
                  <div class="form-check" style="display: inline-flex;">
                    <div class="form-check">
                      <input type="checkbox" formControlName="car7">
                      Xe 7 chỗ
                    </div>
                  </div>
                  <div class="form-check" style="display: inline-flex;margin-left :20px ">
                    <input type="checkbox" style="margin-left: 3px" formControlName="otherCarSelected" >Loại xe khác
                    <input style="margin-left: 25px" formControlName="otherCar" formArrayName="permissionCarTypeLocations" type="text"
                           placeholder="Nhập loại xe khác">
                  </div>
                  <p  style="color: red;position: absolute"
                     *ngIf="(clickButton && locationForm.controls.permissionCarTypeLocations.hasError('required'))||
                       locationForm.controls.permissionCarTypeLocations.hasError('required') && locationForm.controls.permissionCarTypeLocations.touched">
                    *
                    Không được để trống.</p>
                </div>
              </div>

              <div class=" text-center">
                <button type="reset" class="btn m-4 w-25" style="background-color: #e4e6eb">Hủy</button>
                <button type="submit" class="btn m-4 w-25" style="background-color: darkorange">Thêm mới</button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


