<!--<div class="row container">-->

<!--  <div class="row d-flex justify-content-center align-items-center">-->
<!--    <div class="col-md-10">-->
<!--      <div class="card" style="border-radius: 15px;">-->
<!--        <div class="card-body" style="background-color: whitesmoke; box-shadow: 0 0 20px 0 #253365">-->
<!--          <form *ngIf="formEditCustomer" [formGroup]="formEditCustomer" (ngSubmit)="updateCustomer(id)" >-->
<!--            <h1 style="text-align: center; margin-top: 30px; margin-bottom: 50px">CHỈNNH SỬA THÔNG TIN-->
<!--              KHÁCH HÀNG</h1>-->
<!--            <div class="row d-flex">-->
<!--              <div class="row align-items-center py-3 col-md-6">-->
<!--                <div class="col-md-4">-->
<!--                  <label style="font-weight: bold; margin-left: 15px">Họ và tên: <b-->
<!--                    style="color: red">*</b></label>-->
<!--                </div>-->
<!--                <div class="col-md-8">-->

<!--                  <input class="form-control" formControlName="name" type="text" style="margin-left: 3%">-->
<!--                  <p *ngIf="formEditCustomer.controls.name?.touched && formEditCustomer.controls.name?.errors?.required">Vui lòng nhập tên vào đây.</p>-->
<!--                  <p *ngIf="formEditCustomer.controls.name?.touched && formEditCustomer.controls.name?.errors?.pattern">Tên nhập bị sai .Vui lòng kiểm tra lại.</p>-->
<!--                  <p *ngIf="formEditCustomer.controls.name?.touched && formEditCustomer.controls.name?.errors?.Length">Tên nhập không dúng .Vui lòng kiểm tra lại.</p>-->

<!--                </div>-->
<!--              </div>-->
<!--              <div class="row align-items-center py-3 col-md-6">-->
<!--                <div class="col-md-4">-->
<!--                  <label style="font-weight: bold; margin-left: 25px" class="mb-0">CCCD: <b-->
<!--                    style="color: red">*</b></label>-->
<!--                </div>-->
<!--                <div class="col-md-8">-->

<!--                  <input class="form-control" formControlName="idCard" type="text" style="margin-left: 3%">-->
<!--                  <p *ngIf="formEditCustomer.controls.idCard?.touched && formEditCustomer.controls.idCard?.errors?.required">Vui lòng nhập CCCD vào đây.</p>-->
<!--                  <p *ngIf="formEditCustomer.controls.idCard?.touched && formEditCustomer.controls.idCard?.errors?.pattern">CCCD phải là  9 hoặc 12 số.</p>-->

<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="row d-flex">-->
<!--              <div class="row align-items-center py-3 col-md-6">-->
<!--                <div class="col-md-4">-->
<!--                  <label style="font-weight: bold; margin-left: 15px">Ngày sinh: <b-->
<!--                    style="color: red">*</b></label>-->
<!--                </div>-->
<!--                <div class="col-md-8">-->

<!--                  <input class="form-control" formControlName="dateOfBirth" type="date" style="margin-left: 3%">-->
<!--                  <p *ngIf="formEditCustomer.controls.dateOfBirth?.touched && formEditCustomer.controls.dateOfBirth?.errors?.required">Vui lòng nhập ngày sinh vào đây.</p>-->

<!--                </div>-->
<!--              </div>-->

<!--              <div class="row align-items-center py-3 col-md-6">-->
<!--                <div class="col-md-4">-->
<!--                  <label style="font-weight: bold; margin-left: 10px" class="mb-0">Giới tính: <b-->
<!--                    style="color: red">*</b></label>-->
<!--                </div>-->
<!--                <div class="col-md-8">-->
<!--                  <label>-->
<!--                    <input type="radio" [value]="true" formControlName="gender">-->
<!--                    <p *ngIf="formEditCustomer.controls.gender?.touched && formEditCustomer.controls.gender?.errors?.required">Vui lòng chọn giới tính vào đây.</p>-->

<!--                  </label>Nam-->
<!--                  <label>-->
<!--                    <input type="radio" [value]="false" formControlName="gender">-->
<!--                    <p *ngIf="formEditCustomer.controls.gender?.touched && formEditCustomer.controls.gender?.errors?.required">Vui lòng chọn giới tính vào đây.</p>-->

<!--                  </label>Nữ-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="row d-flex">-->
<!--              <div class="row align-items-center py-3 col-md-6">-->
<!--                <div class="col-md-4">-->
<!--                  <label style="font-weight: bold; margin-left: 15px">Email: <b-->
<!--                    style="color: red">*</b></label>-->
<!--                </div>-->
<!--                <div class="col-md-8">-->

<!--                  <input class="form-control" formControlName="email" type="text" style="margin-left: 3%">-->
<!--                  <p *ngIf="formEditCustomer.controls.email?.touched && formEditCustomer.controls.email?.errors?.required">Vui lòng nhập email vào đây.</p>-->
<!--                  <p *ngIf="formEditCustomer.controls.email?.touched && formEditCustomer.controls.email?.errors?.pattern">Email nhập bạn sai .Vui lòng kiểm tra lại.</p>-->

<!--                </div>-->
<!--              </div>-->
<!--              <div class="row align-items-center py-3 col-md-6">-->
<!--                <div class="col-md-4">-->
<!--                  <label style="font-weight: bold; margin-left: 25px">SÐT: <b-->
<!--                    style="color: red">*</b></label>-->
<!--                </div>-->
<!--                <div class="col-md-8">-->

<!--                  <input formControlName="phoneNumber" class="form-control" type="text" style="margin-left: 3%">-->
<!--                  <p *ngIf="formEditCustomer.controls.phoneNumber?.touched && formEditCustomer.controls.phoneNumber?.errors?.required">Vui lòng nhập số điện thoại vào đây.</p>-->
<!--                  <p *ngIf="formEditCustomer.controls.phoneNumber?.touched && formEditCustomer.controls.phoneNumber?.errors?.pattern">Số điện thoại bạn nhập bị sai .Vui lòng nhập lại.</p>-->

<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="row align-items-center py-3">-->
<!--              <div class="col-md-2">-->
<!--                <label style="font-weight: bold; margin-left: 15px">Ðịa chỉ: <b-->
<!--                  style="color: red">*</b></label>-->
<!--              </div>-->
<!--              <div class="col-md-2">-->
<!--                <select class="form-control" type="text"-->
<!--                        style="margin-left: 3%" formControlName="province" #province-->
<!--                        (click)="getProvince(province.value)">-->
<!--                  <option value="" selected>Chọn thành phố/tỉnh</option>-->
<!--                  <option *ngFor="let item of provinceList" [value]="item.code">{{item.name}}</option>-->
<!--                </select>-->
<!--                <p *ngIf="formEditCustomer.controls.province?.touched && formEditCustomer.controls.province?.errors?.required">Vui lòng nhập  thành phố/tỉnh vào đây.</p>-->

<!--              </div>-->
<!--              <div class="col-md-2">-->
<!--                <select class="form-control" type="text"-->
<!--                        style="margin-left: 3%" id="district" formControlName="district"-->
<!--                        #district (click)="getDistrict(district.value)">-->
<!--                  <option value="" selected>Chọn quận/huyện</option>-->
<!--                  <option *ngFor="let item of districtList" [value]="item.code">{{item.name}}</option>-->
<!--                </select>-->
<!--                <p *ngIf="formEditCustomer.controls.district?.touched && formEditCustomer.controls.district?.errors?.required">Vui lòng nhập quận/huyện vào đây. </p>-->

<!--              </div>-->
<!--              <div class="col-md-2">-->
<!--                <select class="form-control" type="text"-->
<!--                        style="margin-left: 3%" id="ward" formControlName="commune" #commune-->
<!--                        (click)="getCommune(commune.value)">-->
<!--                  <option value="" selected>Chọn phường/xã</option>-->
<!--                  <option *ngFor="let item of communeList" [value]="item.code">{{item.name}}</option>-->
<!--                </select>-->
<!--                <p *ngIf="formEditCustomer.controls.commune?.touched && formEditCustomer.controls.commune?.errors?.required">Vui lòng nhập phường/xã vào đây.</p>-->

<!--              </div>-->
<!--              <div class="col-md-3">-->

<!--                <input class="form-control" style="margin-left: 3%" formControlName="street" placeholder="Nhập địa chỉ nhà">-->
<!--                <p *ngIf="formEditCustomer.controls.street?.touched && formEditCustomer.controls.street?.errors?.required">Vui lòng nhập địa chỉ nhà vào đây.</p>-->

<!--              </div>-->
<!--              <div class="col-md-1"></div>-->
<!--            </div>-->
<!--            <div class=" align-items-center py-3">-->
<!--              <h2 style="text-align: center; margin-bottom: 10px">DANH SÁCH XE</h2>-->
<!--              <div class="row">-->
<!--                <div class="col-md-1"></div>-->
<!--                <div class="col-md-10">-->

<!--                  <div formArrayName="carList">-->

<!--                    <table class="table table-bordered table-hover mt-3"-->
<!--                           style="text-align: center; box-shadow: 0 0 10px 0 #253365">-->
<!--                      <thead class="table" style="background-color:  #E67E22">-->
<!--                      <tr>-->
<!--                        <th scope="col">STT</th>-->
<!--                        <th scope="col">Tên xe</th>-->
<!--                        <th scope="col">Loại xe</th>-->
<!--                        <th scope="col">Hãng xe</th>-->
<!--                        <th scope="col">Biển số xe</th>-->
<!--                        <th scope="col">Xoá</th>-->
<!--                      </tr>-->
<!--                      </thead>-->
<!--                      <tbody>-->
<!--                      <tr *ngFor="let car of formEditCustomer.get('carList')['controls']; let i=index"-->
<!--                          [formGroupName]="i">-->
<!--                        <td>{{i + 1}}</td>-->
<!--                        <td>{{car.get('name').value}}</td>-->
<!--                        <td>{{car.get('carType').value.name}}</td>-->
<!--                        <td>{{car.get('brand').value}}</td>-->
<!--                        <td>{{car.get('plateNumber').value}}</td>-->
<!--                        <td>-->
<!--                          <button type="button" class="btn outline" data-bs-toggle="modal"-->
<!--                                  data-bs-target="#deleteModal"-->
<!--                                  (click)="item = car.value">-->
<!--                            <i class="fa-regular fa-trash-can"></i>-->
<!--                          </button>-->
<!--                        </td>-->
<!--                      </tr>-->
<!--                      </tbody>-->
<!--                    </table>-->
<!--                    <button type="button" class="btn btn-warning" data-bs-toggle="modal"-->
<!--                            data-bs-target="#addExampleModal" style="background-color:  #E67E22;">-->
<!--                      Thêm xe-->
<!--                    </button>-->
<!--                  </div>-->
<!--                  <div class="col-md-1"></div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div align="center" class="px-5 py-4">-->
<!--                <button type="button" class="btn btn-secondary">Quay lại</button>-->
<!--                <button style="margin-left: 10px;background-color:  #E67E22"  class="btn" >-->
<!--                  Lưu thay đổi-->
<!--                </button>-->
<!--              </div>-->
<!--            </div>-->
<!--          </form>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="modal fade" id="addExampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"-->
<!--       style="margin-left: -2.5%">-->
<!--    <div class="modal-dialog modal-dialog-centered modal-lg">-->
<!--      <div class="modal-content"-->
<!--           style="margin-left:2%;max-width: 100%;background-color: whitesmoke; box-shadow: 0 0 20px 0 #253365">-->
<!--        <div class="modal-header">-->
<!--          <h1 class="modal-title fs-5" id="addExampleModalLabel">Thêm mới xe</h1>-->
<!--          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--        </div>-->
<!--        <div class="modal-body">-->
<!--          <h1 class="text-center mt-3">THÊM MỚI XE</h1>-->
<!--          <form *ngIf="formCreateCar" [formGroup]="formCreateCar" class="car-form">-->
<!--            <div class="row d-flex">-->
<!--              <div class="col-md-2"></div>-->
<!--              <div class="col-md-8">-->
<!--                <div class="row align-items-center py-3">-->
<!--                  <div class="col-3">-->
<!--                    <label style="font-weight: bold">Tên xe: <b-->
<!--                      style="color: red">*</b></label>-->
<!--                  </div>-->
<!--                  <div class="col-md-9">-->
<!--                    <input formControlName="name" class="form-control" type="text">-->
<!--                    <p *ngIf="formCreateCar.controls.name?.touched && formCreateCar.controls.name?.errors?.required">Vui lòng nhập tên xe vào đây.</p>-->
<!--                    <p *ngIf="formCreateCar.controls.name?.touched && formCreateCar.controls.name?.errors?.pattern">Tên xe bạn nhập không đúng.Vui lòng nhập lại tên xe.</p>-->

<!--                  </div>-->
<!--                </div>-->
<!--                <div class="row align-items-center py-3">-->
<!--                  <div class="col-md-3">-->
<!--                    <label style="font-weight: bold">Loại xe: <b-->
<!--                      style="color: red">*</b></label>-->
<!--                  </div>-->
<!--                  <div class="col-md-9">-->
<!--                    <select class="form-control" formControlName="carType">-->
<!--                      <option>Ch?n lo?i xe</option>-->
<!--                      <option [ngValue]="c" *ngFor="let c of carTypeList">{{c.name }}</option>-->
<!--                    </select>-->
<!--                    <p *ngIf="formCreateCar.controls.carType?.touched && formCreateCar.controls.carType?.errors?.required">Vui lòng chọn loại xe.</p>-->


<!--                  </div>-->
<!--                </div>-->
<!--                <div class="row align-items-center py-3">-->
<!--                  <div class="col-md-3">-->
<!--                    <label style="font-weight: bold">Biển số xe: <b-->
<!--                      style="color: red">*</b></label>-->
<!--                  </div>-->
<!--                  <div class="col-md-9">-->
<!--                    <input formControlName="plateNumber" class="form-control" type="text">-->
<!--                    <p *ngIf="formCreateCar.controls.plateNumber?.touched && formCreateCar.controls.plateNumber?.errors?.required">Vui lòng nhập biển số xe vào đây.</p>-->
<!--                    <p *ngIf="formCreateCar.controls.plateNumber?.touched && formCreateCar.controls.plateNumber?.errors?.pattern">Biển số xe không đúng.Vui lòng nhập lại biển số xe.</p>-->

<!--                  </div>-->
<!--                </div>-->
<!--                <div class="row align-items-center py-3">-->
<!--                  <div class="col-md-3">-->
<!--                    <label style="font-weight: bold">Hãng xe: <b-->
<!--                      style="color: red">*</b></label>-->
<!--                  </div>-->
<!--                  <div class="col-md-9">-->
<!--                    <input formControlName="brand" class="form-control" type="text">-->
<!--                    <p *ngIf="formCreateCar.controls.brand?.touched && formCreateCar.controls.brand?.errors?.required">Vui lòng nhập hãng xe vào đây.</p>-->
<!--                    <p *ngIf="formCreateCar.controls.brand?.touched && formCreateCar.controls.brand?.errors?.pattern">Hãng xe không đúng.Vui lòng nhập lại hãng xe.</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-md-2"></div>-->
<!--            </div>-->
<!--            <div align="center" class="px-5 py-4">-->
<!--              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>-->
<!--              <button style="margin-left: 10px;background-color:  #E67E22" type="button" data-bs-dismiss="modal"-->
<!--                      class="btn" (click)="addCar()" [disabled]="formCreateCar.invalid">-->
<!--                Lưu thông tin-->
<!--              </button>-->
<!--            </div>-->
<!--          </form>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  &lt;!&ndash;  Modal xoá xe&ndash;&gt;-->
<!--  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog">-->
<!--      <div class="modal-content" style="background-color: whitesmoke">-->
<!--        <div class="modal-header">-->
<!--          <div class="col justify-content-center">-->
<!--            <h1 class="modal-title fs-5 " id="exampleModalLabel">Xoá xe</h1>-->
<!--          </div>-->
<!--          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--        </div>-->
<!--        <div class="modal-body">-->
<!--          <span>Bạn có chắc chắn xóa biển số xe </span>-->
<!--          <span style="color: red">{{item.plateNumber}}</span><span> này không ?</span>-->

<!--        </div>-->
<!--        <div class="modal-footer">-->
<!--          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ-->
<!--          </button>-->
<!--          <button type="button" class="btn" (click)="deleteCar(item.plateNumber)"-->
<!--                  data-bs-dismiss="modal" style="background-color: darkorange">Xóa-->
<!--          </button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->



<div>
  <div class="row d-flex justify-content-center align-items-center" style="margin-left: 5%;margin-right: 5%;margin-top: 3%">
    <div class="col-md-10">
      <div class="card" style="border-radius: 15px;">
        <div class="card-body" style="background-color: whitesmoke; box-shadow: 0 0 20px 0 #253365">
          <form *ngIf="formEditCustomer" [formGroup]="formEditCustomer" (ngSubmit)="updateCustomer(id)">
            <h1 style="text-align: center; margin-top: 30px; margin-bottom: 50px">CHỈNH SỬA THÔNG TIN
              KHÁCH HÀNG</h1>
            <div class="row d-flex">
              <div class="row align-items-center py-3 col-md-6">
                <div class="col-md-4">
                  <label style="font-weight: bold; margin-left: 25px">Họ và tên: <b
                    style="color: red">*</b></label>
                </div>
                <div class="col-md-8">
                  <input class="form-control" formControlName="name" type="text"
                         style="position: relative">
                  <div style="position: absolute">
                    <span style="color: red" *ngIf="messCustomerName">{{messCustomerName}}</span>
                    <span style="color: red" *ngIf="messCustomerNamePattern">{{messCustomerNamePattern}}</span>
                    <span
                      *ngIf="formEditCustomer.controls.name?.touched && formEditCustomer.controls.name?.errors?.required"
                      style="color: red;">Tên khách hàng không được để trống.</span>
                    <span *ngIf="formEditCustomer.controls.name?.touched && formEditCustomer.controls.name?.errors?.pattern"
                          style="color: red;">
                        Tên khách hàng nhập bị sai .Vui lòng kiểm tra lại.</span>
                    <span *ngIf="formEditCustomer.controls.name?.touched && formEditCustomer.controls.name?.errors?.Length"
                          style="color: red;">
                        Tên khách hàng quá dài .Vui lòng kiểm tra lại.</span>
                  </div>
                </div>
              </div>
              <div class="row align-items-center py-3 col-md-6">
                <div class="col-md-4">
                  <label style="font-weight: bold; margin-left: 25px" class="mb-0">CCCD: <b
                    style="color: red">*</b></label>
                </div>
                <div class="col-md-8">

                  <input class="form-control" formControlName="idCard" type="text"
                         style="position: relative">
                  <div style="position: absolute">
                    <span style="color: red" *ngIf="messCCCD">{{messCCCD}}</span>
                    <span style="color: red" *ngIf="messCCCDPattern">{{messCCCDPattern}}</span>
                    <span *ngIf="formEditCustomer.controls.idCard?.touched && formEditCustomer.controls.idCard?.errors?.required" style="color: red; ">CCCD không được để trống.</span>
                    <span *ngIf="formEditCustomer.controls.idCard?.touched && formEditCustomer.controls.idCard?.errors?.pattern" style="color: red; ">CCCD phải là 9 hoặc 12 số</span>
                  </div>
                </div>

              </div>
            </div>
            <div class="row d-flex">
              <div class="row align-items-center py-3 col-md-6" style="margin-top: 3%">
                <div class="col-md-4">
                  <label style="font-weight: bold; margin-left: 25px">Ngày sinh: <b
                    style="color: red">*</b></label>
                </div>
                <div class="col-md-8">
                  <input class="form-control" formControlName="dateOfBirth" type="date"
                         style="position: relative">
                  <div style="position: absolute">
                    <span style="color: red" *ngIf="messDateOfBirth">{{messDateOfBirth}}</span>
                    <span style="color: red" *ngIf="messDateOfBirthPattern">{{messDateOfBirthPattern}}</span>
                    <span
                      *ngIf="formEditCustomer.controls.dateOfBirth?.touched && formEditCustomer.controls.dateOfBirth?.errors?.required"
                      style="color: red">
                        Ngày sinh không được để trống .</span>
                    <span
                      *ngIf="formEditCustomer.controls.dateOfBirth?.touched && formEditCustomer.controls.dateOfBirth?.errors?.invalidBirthDate1"
                      style="color: red;">
                        Ngày sinh phải lớn hơn 18 tuổi.</span>
                    <span
                      *ngIf="formEditCustomer.controls.dateOfBirth?.touched && formEditCustomer.controls.dateOfBirth?.errors?.invalidDateOfBirth"
                      style="color: red">
                        Ngày sinh lớn ngày hiện tại.</span>
                  </div>
                </div>
              </div>
              <div class="row align-items-center py-3 col-md-6" style="margin-top: 3%">
                <div class="col-md-4">
                  <label style="font-weight: bold; margin-left: 25px" class="mb-0">Giới tính: <b
                    style="color: red">*</b></label>
                </div>
                <div class="col-md-8">
                  <label>
                    <input type="radio" [value]="true" formControlName="gender">
                    <span
                      *ngIf="formEditCustomer.controls.gender?.touched && formEditCustomer.controls.gender?.errors?.required" style="color: red; ">
                        Giới tính không được để trống.</span>
                  </label>Nam
                  <label>
                    <input type="radio" [value]="false" formControlName="gender">
                    <span
                      *ngIf="formEditCustomer.controls.gender?.touched && formEditCustomer.controls.gender?.errors?.required" style="color: red;">
                        Giới tính không được để trống.</span>
                  </label>Nữ
                </div>
              </div>
            </div>
            <div class="row d-flex" >
              <div class="row align-items-center py-3 col-md-6" style="margin-top: 3%" >
                <div class="col-md-4">
                  <label style="font-weight: bold; margin-left: 25px">Email: <b
                    style="color: red">*</b></label>
                </div>
                <div class="col-md-8">
                  <input class="form-control" formControlName="email" type="text"
                         style="position: relative">
                  <div style="position: absolute">
                    <span style="color: red" *ngIf="messEmail">{{messEmail}}</span><br>
                    <span style="color: red" *ngIf="messEmailPattern">{{messEmailPattern}}</span>
                    <span
                      *ngIf="formEditCustomer.controls.email?.touched && formEditCustomer.controls.email?.errors?.required"
                      style="color: red;">
                        Email không được để trống.</span>
                    <span
                      *ngIf="formEditCustomer.controls.email?.touched && formEditCustomer.controls.email?.errors?.pattern"
                      style="color: red;">
                        Email nhập bị sai .Vui lòng kiểm tra lại.</span>
                  </div>
                </div>
              </div>
              <div class="row align-items-center py-3 col-md-6" style="margin-top: 3%">
                <div class="col-md-4">
                  <label style="font-weight: bold; margin-left: 25px">SÐT: <b
                    style="color: red">*</b></label>
                </div>
                <div class="col-md-8">
                  <input formControlName="phoneNumber" class="form-control" type="text"
                         style="position: relative">
                  <div style="position: absolute">
                    <span style="color: red" *ngIf="messPhoneNumber">{{messPhoneNumber}}</span>
                    <span style="color: red" *ngIf="messPhoneNumberPattern">{{messPhoneNumberPattern}}</span>
                    <span
                      *ngIf="formEditCustomer.controls.phoneNumber?.touched && formEditCustomer.controls.phoneNumber?.errors?.required" style="color: red;">
                        Số điện thoại không được để trống.</span>
                    <span
                      *ngIf="formEditCustomer.controls.phoneNumber?.touched && formEditCustomer.controls.phoneNumber?.errors?.pattern" style="color: red; ">
                        Số điện thoại nhập bị sai. Vui lòng kiểm tra lại.</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row align-items-center py-3" style="margin-top: 3%">
              <div class="col-md-2">
                <label style="font-weight: bold; margin-left: 25px">Ðịa chỉ: <b
                  style="color: red">*</b></label>
              </div>
              <div class="col-md-2" style="position: relative">
                <select class="form-control" type="text"
                        formControlName="province" #province
                        (click)="getProvince(province.value)">
                  <option value="" selected>Chọn tỉnh thành</option>
                  <option *ngFor="let item of provinceList" [value]="item.code">{{item.name}}</option>
                </select>
                <div style="position: absolute">
                    <span
                      *ngIf="formEditCustomer.controls.province?.touched && formEditCustomer.controls.province?.errors?.required" style="color: red">
                      Thành phố/tỉnh không được để trống.</span>
                </div>
              </div>
              <div class="col-md-2" style="position: relative">
                <select class="form-control" type="text"
                        style="margin-left: 3%" id="district" formControlName="district"
                        #district (click)="getDistrict(district.value)">
                  <option value="" selected>Chọn quận huyện</option>
                  <option *ngFor="let item of districtList" [value]="item.code">{{item.name}}</option>
                </select>
                <div style="position: absolute">
                    <span
                      *ngIf="formEditCustomer.controls.district?.touched && formEditCustomer.controls.district?.errors?.required" style="color: red">
                      Quận/huyện không được để trống.</span>
                </div>
              </div>
              <div class="col-md-2" style="position: relative">
                <select class="form-control" type="text"
                        style="margin-left: 3%" id="ward" formControlName="commune" #commune
                        (click)="getCommune(commune.value)">
                  <option value="" selected>Chọn phường xã</option>
                  <option *ngFor="let item of communeList" [value]="item.code">{{item.name}}</option>
                </select>
                <div style="position: absolute">
                    <span
                      *ngIf="formEditCustomer.controls.commune?.touched && formEditCustomer.controls.commune?.errors?.required" style="color: red">
                      Phường/xã không được để trống.</span>
                </div>

              </div>
              <div class="col-md-3">

                <input class="form-control" style="position: relative" formControlName="street"
                       placeholder="Nhập số nhà">
                <div style="position: absolute">
                  <span style="color: red" *ngIf="messStreet">{{messStreet}}</span>
                  <span
                    *ngIf="formEditCustomer.controls.street?.touched && formEditCustomer.controls.street?.errors?.required" style="color: red;">
                      Địa chỉ nhà không được để trống.</span>
                </div>
              </div>
              <div class="col-md-1"></div>
            </div>
            <div class=" align-items-center py-3" style="margin-top: 5%">
              <h2 style="text-align: center; margin-bottom: 10px">DANH SÁCH XE</h2>
              <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">

                  <div formArrayName="carList">

                    <table class="table table-bordered table-hover mt-3"
                           style="text-align: center; box-shadow: 0 0 10px 0 #253365">
                      <thead class="table" style="background-color:  #E67E22">
                      <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên xe</th>
                        <th scope="col">Loại xe</th>
                        <th scope="col">Hãng xe</th>
                        <th scope="col">Biển số xe</th>
                        <th scope="col">Xoá</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let car of formEditCustomer.get('carList')['controls']; let i=index"
                          [formGroupName]="i">
                        <td>{{i + 1}}</td>
                        <td>{{car.get('name').value}}</td>
                        <td>{{car.get('carType').value.name}}</td>
                        <td>{{car.get('brand').value}}</td>
                        <td>{{car.get('plateNumber').value}}</td>
                        <td>
                          <button type="button" class="btn " data-bs-toggle="modal"
                                  data-bs-target="#deleteModal"
                                  (click)="item = car.value"><i class="fa-regular fa-trash-can"></i>
                          </button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                            data-bs-target="#addExampleModal" style="background-color:  #E67E22;">
                      Thêm xe
                    </button>
                  </div>
                  <div class="col-md-1"></div>
                </div>
              </div>
              <div align="center" class="px-5 py-4">
                <button type="button" class="btn btn-secondary" routerLink="/customer/list">Quay lại</button>
                <button style="margin-left: 10px;background-color:  #E67E22" class="btn">
                  Lưu thay đổi
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="addExampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
       style="margin-left: -2.5%">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content"
           style="margin-left:2%;max-width: 100%;background-color: whitesmoke; box-shadow: 0 0 20px 0 #253365">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="addExampleModalLabel">Thêm mới xe</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h1 class="text-center mt-3">THÊM MỚI XE</h1>
          <form *ngIf="formCreateCar" [formGroup]="formCreateCar" class="car-form">
            <div class="row d-flex">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <div class="row align-items-center py-3">
                  <div class="col-3">
                    <label style="font-weight: bold">Tên xe: <b
                      style="color: red">*</b></label>
                  </div>
                  <div class="col-md-9">
                    <input formControlName="name" class="form-control" type="text">
                    <p *ngIf="formCreateCar.controls.name?.touched && formCreateCar.controls.name?.errors?.required" style="color: red">Tên
                      xe không được để trống.</p>
                    <p *ngIf="formCreateCar.controls.name?.touched && formCreateCar.controls.name?.errors?.pattern" style="color: red">Tên
                      xe không đúng. Vui lòng nhập lại.</p>

                  </div>
                </div>
                <div class="row align-items-center py-3">
                  <div class="col-md-3">
                    <label style="font-weight: bold">Loại xe: <b
                      style="color: red">*</b></label>
                  </div>
                  <div class="col-md-9">
                    <select class="form-control" formControlName="carType">
                      <option value="" selected>Chọn loại xe</option>
                      <option [ngValue]="c" *ngFor="let c of carTypeList">{{c.name }}</option>
                    </select>
                    <p
                      *ngIf="formCreateCar.controls.carType?.touched && formCreateCar.controls.carType?.errors?.required" style="color: red">
                      Loại xe không được để trống.</p>
                  </div>
                </div>
                <div class="row align-items-center py-3">
                  <div class="col-md-3">
                    <label style="font-weight: bold">Biển số xe: <b
                      style="color: red">*</b></label>
                  </div>
                  <div class="col-md-9">
                    <input formControlName="plateNumber" class="form-control" type="text">
                    <p
                      *ngIf="formCreateCar.controls.plateNumber?.touched && formCreateCar.controls.plateNumber?.errors?.required" style="color: red">
                      Biển số xe không được để trống.</p>
                    <p
                      *ngIf="formCreateCar.controls.plateNumber?.touched && formCreateCar.controls.plateNumber?.errors?.pattern" style="color: red">
                      Biển số xe không đúng.Vui lòng nhập lại.</p>

                  </div>
                </div>
                <div class="row align-items-center py-3">
                  <div class="col-md-3">
                    <label style="font-weight: bold">Hãng xe: <b
                      style="color: red">*</b></label>
                  </div>
                  <div class="col-md-9">
                    <input formControlName="brand" class="form-control" type="text">
                    <p *ngIf="formCreateCar.controls.brand?.touched && formCreateCar.controls.brand?.errors?.required" style="color: red">
                      Hãng xe không được để trống.</p>
                    <p *ngIf="formCreateCar.controls.brand?.touched && formCreateCar.controls.brand?.errors?.pattern" style="color: red">
                      Hãng xe không đúng . Vui lòng nhập lại.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-2"></div>
            </div>
            <div align="center" class="px-5 py-4">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" rout>Hủy</button>
              <button style="margin-left: 10px;background-color:  #E67E22" type="button" data-bs-dismiss="modal"
                      class="btn" (click)="addCar()" [disabled]="formCreateCar.invalid">
                Lưu thông tin
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--  Modal xoá xe-->


  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="background-color: whitesmoke">
        <div class="modal-header">
          <div class="col justify-content-center">
            <h1 class="modal-title fs-5 " id="exampleModalLabel">Xoá xe</h1>
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <span>Bạn có chắn xoá xe có biển số</span>
          <span style="color: red">{{item.plateNumber}}</span><span> này không ?</span>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ
          </button>
          <button type="button" class="btn" (click)="deleteCar(item.plateNumber)"
                  data-bs-dismiss="modal" style="background-color: darkorange">Xóa
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

