<main id="main">
  <!-- =======  Parking News Detail ======= -->
  <section id="portfolio" class="portfolio p-0 m-2">
    <div class="container-fluid">
      <div class="d-flex justify-content-between head-title">
        <div>
          <strong><a [routerLink]="['/homepage/']">Trang chủ</a></strong><span> > {{parkingNews?.title | titlecase}}</span>
        </div>
        <span>{{parkingNews?.postingDate | date: 'dd-MM-yyyy'}}</span>
      </div>
    </div>
    <div class="section-title">
      <h2>{{parkingNews?.title}}</h2>
    </div>
    <div class="container">
      <div class="row">
        <p>{{parkingNews?.description}}</p>
      </div>
      <div class="row d-flex flex-col">
        <div class="col-lg-3" style="text-align: center">
          <img src="{{parkingNews?.imageUrl}}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-9">
          <p>{{parkingNews?.content}}</p>
        </div>
      </div>
    </div>
  </section><!-- End Parking News Detail Section -->
</main>

