<!-- ======= Header ======= -->
<header class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
  <div class="container">
    <div class="logo d-flex flex-row text-center">
      <a [routerLink]="['homepage']" class="p-0"><img src="../../assets/img//header/logo.PNG" alt="" class="img-fluid"></a>
      <a [routerLink]="['homepage']" style="padding: 0">
        <h5 class="mx-2 logo-name" style="padding: 0; text-align: center; color: #eb5d1e">Bãi đậu xe thông
          minh</h5></a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <nav class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li><a class="nav-link" [routerLink]="['employee']"  (click)="view()"><span class="n-item">Nhân viên</span></a></li>
        <li><a class="nav-link" [routerLink]="['customer']"><span class="n-item">Khách hàng</span></a></li>
        <li><a class="nav-link" [routerLink]="['car/car']"><span class="n-item">Xe</span></a></li>
        <li><a class="nav-link" [routerLink]="['ticket']"><span class="n-item">Vé</span></a></li>
        <li><a class="nav-link" [routerLink]="['statistic']"><span class="n-item">Thống kê</span></a></li>
        <li><a class="nav-link" [routerLink]="['location']"><span class="n-item">Bãi đỗ</span></a></li>
        <li>
          <div class="dropdownUser">
            <span class="n-item"> <i class='bx bx-user-circle bx-md'></i></span>
            <div class="dropdown-content">
              <div class="getstarted" >Đổi mật khẩu</div>
              <div class="getstarted" >Đăng xuất</div>
            </div>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header><!-- End Header -->
<section>

<div id="demo" class="carousel slide" data-bs-ride="carousel">

  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
  </div>

  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/img/header/Carousel-1.jpg" class="d-block w-100">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../assets/img/header/Carousel-2.jpg" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="../../assets/img/header/Carousel-3.jpg" class="d-block w-100">
    </div>
  </div>

  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>
</section>
