<!-- ======= Header ======= -->
<header class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
  <div class="container">
    <div class="logo d-flex flex-row text-center">
      <a href="index.html" class="p-0"><img src="../../assets/img/logo.PNG" alt="" class="img-fluid"></a>
      <a href="index.html" style="padding: 0">
        <h5 class="mx-2 logo-name" style="padding: 0; text-align: center; color: #eb5d1e">Bãi đậu xe thông
          minh</h5></a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <nav class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li><a class="nav-link" href="#"><span class="n-item">Nhân viên</span></a></li>
        <li><a class="nav-link" href="#"><span class="n-item">Khách hàng</span></a></li>
        <li><a class="nav-link" href="#"><span class="n-item">Xe</span></a></li>
        <li><a class="nav-link" href="#"><span class="n-item">Vé</span></a></li>
        <li><a class="nav-link" href="#"><span class="n-item">Thống kê</span></a></li>
        <li><a class="nav-link" href="/location"><span class="n-item">Bãi đỗ</span></a></li>
        <li><a class="nav-link" href="#"><span class="n-item"><i class='bx bx-user-circle bx-md'></i></span></a></li>
        <li>
          <a class="getstarted n-item" href="#login">Log out</a>
        </li>
      </ul>
    </nav>
  </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="container d-flex align-items-center">
    <div class="row">
      <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1>Trải nghiệm tốt hơn với Bãi đậu xe thông minh SCP</h1>
        <h2>Dịch vụ giữ xe an toàn, tiện lợi</h2>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img">
        <img src="https://sika.scene7.com/is/image/sika/glo-car-parking-garage-floor-03:16-9?wid=1920&hei=1080&fit=crop%2C1"
             class="img-fluid animated" alt="">
      </div>
    </div>
  </div>
</section><!-- End Hero Section-->

