<main id="main">
  <!-- ======= Portfolio Section/  Home Page Content ======= -->
  <section id="portfolio" class="portfolio p-0 m-2">
    <div class="container-fluid my-4">
        <div class="section-title p-0">
          <p>TRANG THÔNG TIN</p>
        </div>
        <div class="row">
          <div class="container-fluid d-flex justify-content-end my-1 p-0">
            <input class="mx-2 form-control" style="width: 20%" placeholder="Từ khóa tìm kiếm" [(ngModel)]="keyword">
            <button (click)="searchParkingNews()" class="getstarted btn btn-sm"
                    type="button">Tìm
            </button>
          </div>
        </div>

      <div class="row portfolio-container">
        <div class="card mb-3 m-0 p-0" style="max-width: 100%;" *ngFor="let pn of parkingNews">
          <div class="row g-0">
            <div class="col-md-2 portfolio-wrap">
              <img src="{{pn.imageUrl}}" class="img-fluid"
                   style="object-fit: contain; border-radius: 8px; text-align: center" alt="">
            </div>
            <div class="col-md-10">
              <div class="card-body p-0">
                <a class="text-decoration-none" target="_blank" [routerLink]="['/homepage/detail/', pn.parkingNewsId]">
                  <h5 class="card-title text-black" style="margin: 10px 10px">{{pn.title}}</h5>
                </a>
                <p class="card-text m-x-1" style="text-align: justify;margin: 10px 10px">{{pn.description}}</p>
                <p class="card-text"><small class="text-muted"></small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="container-fluid d-flex justify-content-end">
          <button class="getstarted btn btn-sm" type="button" (click)="previousNews()"
                  [disabled]="pageNumber === 0">
            <span>Trước</span>
          </button>
          <span class="mx-2">{{pageNumber + 1}} / {{totalPage}}</span>
          <button class="getstarted btn btn-sm" type="button" (click)="nextNews()"
                  [disabled]="pageNumber + 1 === totalPage">
            <span>Sau</span>
          </button>
        </div>
      </div>
    </div>
  </section><!-- End Portfolio Section -->
</main>

