/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Open Sans", sans-serif;
  color: #212529;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ef7f4d;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
h5 .card-title
.font-primary {
  font-family: "Raleway", sans-serif;
}

/*#main {*/
/*  margin-top: 72px;*/
/*}*/

/*--------------------------------------------------------------
# Section
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #fef8f5;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

/*.section-title h2 {*/
/*  font-size: 18px;*/
/*  font-weight: 700;*/
/*  color: #c2b7b1;*/
/*  margin-top: 12px;*/
/*}*/

.section-title p {
  margin-bottom: 0;
  position: relative;
  font-size: 30px;
  font-weight: 700;
  color: #4e4039;
}

.section-title p::after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 2px;
  background: #eb5d1e;
  bottom: 0;
  left: calc(50% - 30px);
}
.getstarted:hover
.getstarted:focus:hover{
  color: #fff;
  background: #ee7843;
}

.getstarted {
  border-color:  #ee7843;
}
