<main id="main">

  <!-- ======= Portfolio Section/  Home Page Content ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container d-flex justify-content-end">
      <input class="mx-2" placeholder="Search keyword">
      <button style="border-color: #eb5d1e; background: #eb5d1e; border-radius: 10px" type="button">Search</button>
    </div>
    <div class="container">
      <div class="section-title">
        <h2>Bãi đậu xe SCP</h2>
        <p>Trang thông tin</p>
      </div>

      <div class="row portfolio-container">
        <div class="card mb-3 m-2 " style="max-width: 100%;">
          <div class="row g-0">
            <div class="col-md-2 portfolio-wrap">
              <img
                src="https://scontent.webpluscnd.net/photos-wt/a-600/11776-2298176.png?atk=07607d064ec0c4170aea31ad4d9946fd"
                class="img-fluid" style="" alt="">
            </div>
            <div class="col-md-10">
              <div class="card-body">
                <a class="text-decoration-none"
                   href="https://hethongdoxe.com/bat-mi-cac-he-thong-do-xe-oto-tu-dong-hien-dai-nhat-the-gioi-n220236.html">
                  <h5 class="card-title">"BẬT MÍ" CÁC HỆ THỐNG ĐỖ XE OTO TỰ ĐỘNG HIỆN ĐẠI NHẤT
                    THẾ GIỚI</h5>
                </a>
                <p class="card-text">Hệ thống đỗ xe oto tự động đang dần được sử dụng nhiều
                  trong các công
                  trình. Cùng tìm hiểu 3 hệ thống đỗ xe tự động hiện đại nhất trên thế giới
                  qua bài viết.</p>
                <p class="card-text"><small class="text-muted"></small>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3 m-2 " style="max-width: 100%;">
          <div class="row g-0">
            <div class="col-md-2 portfolio-wrap">
              <img
                src="https://scontent.webpluscnd.net/photos-df/a-300/11776-2184824-1/robot-do-xe-agv-agv-parking-system.png?atk=6926dd0b34e92afdc22130e15543cb2f"
                class="img-fluid" alt="">
            </div>
            <div class="col-md-10">
              <div class="card-body">
                <a class="text-decoration-none"
                   href="https://hethongdoxe.com/bat-mi-cac-he-thong-do-xe-oto-tu-dong-hien-dai-nhat-the-gioi-n220236.html">
                  <h5 class="card-title">ROBOT ĐỖ XE AGV (AGV PARKING SYSTEM</h5>
                </a>
                <p class="card-text">ROBOT TỰ HÀNH ĐỖ XE AGV – VẬN HÀNH MỘT THẾ GIỚI TỰ ĐỘNG TIỆN NGHI. Công nghệ AGV
                  ứng dụng vào bãi đỗ xe tự động</p>
                <p class="card-text"><small class="text-muted"></small>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3 m-2 " style="max-width: 100%;">
          <div class="row g-0">
            <div class="col-md-2 portfolio-wrap">
              <img
                src="https://scontent.webpluscnd.net/photos-wt/a-600/11776-2268626.png?atk=3451cd92cc4a7ebc7ea0d9a4abdb3bb7"
                class="img-fluid" alt="">
            </div>
            <div class="col-md-10">
              <div class="card-body">
                <a class="text-decoration-none"
                   href="https://hethongdoxe.com/bo-khoa-vi-tri-do-dinh-danh-cho-do-vip-p804194.html">
                  <h5 class="card-title">Bộ khóa vị trí đỗ định danh, chỗ đỗ VIP</h5>
                </a>
                <p class="card-text">Mỗi một bộ quản lý vị trí đỗ cá nhân có trang bị cảm biến phát hiện xe và trên xe ô
                  tô được trang bị bộ phát tín hiệu. Tiến hiệu thu/phát là trùng khớp và duy nhất</p>
                <p class="card-text"><small class="text-muted"></small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container d-flex justify-content-center">
      <button style="border-color: #eb5d1e; background: #eb5d1e" type="button"><i class='bx bx-arrow-back'></i></button>
      <span class="mx-2">Page 2</span>
      <button style="border-color: #eb5d1e; background: #eb5d1e" type="button"><i class='bx bx-right-arrow-alt'></i>
      </button>
    </div>
  </section><!-- End Portfolio Section -->
</main>
