<div class="row container-fluid m-0 mb-2" style="text-align: center; margin-top: 500px">
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="row">
      <h1 style="size:32px; margin-top: 50px; margin-bottom: 30px; text-align: center">DANH SÁCH KHÁCH HÀNG</h1>
      <h2 *ngIf="message" style="color: red">{{message}}</h2>
    </div>
    <div class="row m-0 mb-2">
      <div class="col-md-12">

        <!--    TÌM KIẾM    -->
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <form class="d-flex" style="margin-top: 10px; margin-bottom: 20px">
              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row" style="margin-top: 5px">

                  <div class="col-sm-12 col-md-6 col-lg-1 col-xl-2">
                    <div style="float: left">Tên khách hàng:</div>
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-3 col-xl-2">
                    <input class="form-control me-4" type="text" placeholder="Tên khách hàng" #name
                           aria-label="Search" style="border: 1px solid #b6effb">
                  </div>

                  <div class="col-sm-12 col-md-6 col-lg-1 col-xl-2">
                    <div style="float: left">CMND/CCCD:</div>
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-3 col-xl-2">
                    <input class="form-control me-4" type="text" placeholder="Chứng minh nhân dân" #idCard
                           aria-label="Search" style="border: 1px solid #b6effb; ">
                  </div>

                  <div class="col-sm-12 col-md-6 col-lg-1 col-xl-2">
                    <div style="float: left">Số điện thoại:</div>
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-3 col-xl-2">
                    <input class="form-control me-4" name="name" type="search" placeholder="Số điện thoại" #phoneNumber
                           aria-label="Search" style="border: 1px solid #b6effb">
                  </div>

                </div>

                <div class="row" style="margin-top: 5px">

                  <div class="col-sm-12 col-md-6 col-lg-1 col-xl-2">
                    <div style="float: left">Sinh từ ngày:</div>
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-3 col-xl-2">
                    <input class="form-control me-4" type="date" #starDate
                           aria-label="Search" style="border: 1px solid #b6effb; ">
                  </div>

                  <div class="col-sm-12 col-md-6 col-lg-1 col-xl-2">
                    <div style="float: left">Đến ngày:</div>
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-3 col-xl-2">
                    <input class="form-control me-4" name="name" type="date" #endDate
                           aria-label="Search" style="border: 1px solid #b6effb">
                  </div>

                  <div class="col-sm-12 col-md-6 col-lg-1 col-xl-2"></div>
                  <div class="col-sm-12 col-md-6 col-lg-3 col-xl-2">
                    <div style="float: right">
                      <button class="btn " type="button"
                              (click)="onSearch(name.value, idCard.value, phoneNumber.value, starDate.value, endDate.value)"
                              style="text-align: center; size: 30px; border: 1px solid #b6effb; background-color: #e67e22">
                        <i class="fa-solid fa-magnifying-glass"></i>Tìm kiếm
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <!--        BẢNG      -->
        <div class="row table-responsive-md">
          <table class="table table-sm table-bordered table-hover"
                 style="table-layout: fixed; box-shadow: 0 0 10px 0 #253365">
            <thead class="table" style="background-color: #E67E22">
            <tr>
              <th scope="col" class="b">Mã KH</th>
              <th scope="col" class="a">Họ và tên</th>
              <th scope="col" class="a">Ngày sinh</th>
              <th scope="col" class="a">CMND</th>
              <th scope="col">Giới tính</th>
              <th scope="col" class="a">Số điện thoại</th>
              <th scope="col" class="a">Email</th>
              <th scope="col">Chỉnh sửa</th>
              <th scope="col">Xóa</th>
              <th scope="col">Thông tin xe</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let customer of customers">
              <th scope="row" class="b">{{customer.id}}</th>
              <td style="text-align: left" class="a">{{customer.name}}</td>
              <td class="a">{{customer.dateOfBirth}}</td>
              <td>{{customer.idCard}}</td>
              <td *ngIf="customer.gender">Nam</td>
              <td *ngIf="!customer.gender">Nữ</td>
              <td class="a">{{customer.phoneNumber}}</td>
              <td class="a">{{customer.email}}</td>
              <td>
                <button type="button" class="btn outline" routerLink="/customer/update/{{customer.id}}">
                  <i class="fa-regular fa-pen-to-square"></i>
                </button>
              </td>
              <td>
                <button type="button" data-bs-toggle="modal" data-bs-target="#deleteModal"
                        class="btn outline" (click)="delete(customer.id, customer.name)">
                  <i class="fa-regular fa-trash-can"></i>
                </button>
              </td>
              <td>
                <button type="button" class="btn outline" routerLink="/customer/info/{{customer.id}}">
                  <i class="fa-sharp fa-regular fa-eye"></i>
                </button>
              </td>
            </tr>

            </tbody>
          </table>
        </div>

        <div class="row container-fluid">
          <div class="col-4" style="margin-top: 5px">
            <button class="btn" type="button" style="float: left; background-color: darkorange" routerLink="/customer/create">Thêm mới</button>
          </div>
          <div class="col-1"></div>

          <div class="col-7" style="margin-top: 5px">
            <nav aria-label="Page navigation example" style="float: right">
              <ul class="pagination" *ngIf="pageCount > 1">
                <li class="page-item">
                  <button (click)="previousPage()" class="page-link outline" aria-label="Previous">
                    <span aria-hidden="true">Trước</span>
                  </button>
                </li>
                <li class="page-item" *ngFor="let pageNumber of pageNumbers">
                  <a class="page-link page" [ngClass]="{currentpage: page+1 == pageNumber}"
                     (click)="goToPage(pageNumber)">{{ pageNumber }}</a></li>

                <li class="page-item">
                  <button class="page-link outline" (click)="nextPage()" aria-label="Next">
                    <span aria-hidden="true">Sau</span>
                  </button>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-1">
  </div>

</div>
<!--modal xóa-->

<!--data-bs-toggle="modal" data-bs-target="#deleteModal"-->

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="col justify-content-center">
          <h1 class="modal-title fs-5 " id="exampleModalLabel">XÁC NHẬN XÓA KHÁCH HÀNG</h1>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <span>Bạn có chắc chắn muốn xoá khách hàng: </span>
        <span style="color: red">{{nameDelete}}</span><br>
        <span>Có Mã khách hàng là:</span>
        <span style="color: red">{{idDelete}}</span>
        <span> không?</span><br>
        <small style="color: red">*Lưu ý: Hành động này không thể hoàn tác.</small>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-bs-dismiss="modal" style="background-color: #e4e6eb">Đóng
        </button>
        <button type="button" class="btn" (click)="deletes(idDelete)"
                data-bs-dismiss="modal" style="background-color: darkorange">Xóa
        </button>
      </div>
    </div>
  </div>
</div>
