<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-12">

          <div class="card" style="border-radius: 15px;box-shadow: 0 0 20px 0 #253365">
            <div class="card-body">
              <form [formGroup]="ticketCreateForm" (ngSubmit)="createTicket()">
                <h1 style="text-align: center; margin-top: 30px; margin-bottom: 50px;text-shadow: 0px 5px 5px #999999;">
                  THÊM MỚI VÉ</h1>


                <div class="row d-flex">
                  <div class="row align-items-center py-3 col-md-6"></div>

                  <div class="row align-items-center py-3 col-md-6">
                    <div class="col-md">
                      <label style="font-weight: bold" class="mb-0">Thông tin khách hàng:</label>
                      <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                              style="background-color: orange" data-bs-target="#staticBackdrop">
                        Tìm kiếm
                      </button>
                    </div>
                  </div>
                </div>

                <div class="row d-flex" >
                  <div class="row align-items-center py-3 col-md-6">
                    <div class="col-md-4">
                      <label style="font-weight: bold">Nhân viên bán:</label>
                    </div>
                    <div class="col-md-8">
                      <select class="form-select" formControlName="employee">
                        <option [value]="null" selected>---Mời chọn chọn nhân viên---</option>
                        <option *ngFor="let employee of employeeList" [value]="employee.id">{{employee.name}}</option>
                      </select>
                      <p style="color: red" *ngIf="ticketCreateForm.controls.employee.touched && ticketCreateForm.controls.employee.hasError('required')">*Bắt buộc
                        chọn</p>
                    </div>
                  </div>

                  <div class="row align-items-center py-3 col-md-6">
                    <div class="col-md-4">
                      <label style="font-weight: bold" class="mb-0">Tên khách hàng:</label>
                    </div>
                    <div class="col-md-8">
                      <input readonly class="form-control" [(ngModel)]="tenKhachHang" [ngModelOptions]="{standalone: true}"  placeholder="Tên khách hàng"
                             type="text">
                    </div>

                  </div>

                </div>

                <div class="row d-flex">
                  <div class="row align-items-center py-3 col-md-6">
                    <div class="col-md-4">
                      <label style="font-weight: bold">Giá vé/ngày:</label>
                    </div>
                    <div class="col-md-8">
                      <input readonly class="form-control"  formControlName="price" [value]="15.000" placeholder="15.000"
                             type=text>
                    </div>

                  </div>


                  <div class="row align-items-center py-3 col-md-6">
                    <div class="col-md-4">
                      <label style="font-weight: bold" class="mb-0">Số điện thoại:</label>
                    </div>
                    <div class="col-md-8">
                      <input readonly class="form-control" [(ngModel)]="soDienThoaiKhachHang" [ngModelOptions]="{standalone: true}" placeholder="Số điện thoại"
                             type="text">
                      </div>
                    </div>
                </div>
                <div class="row ">
                  <div class="row align-items-center py-3 col-md-6">
                    <div class="col-md-5">
                      <label style="font-weight: bold">Thời gian có hiệu lực:</label>
                    </div>
                    <div class="col-md-7">
                      <input (change)="getEffectiveDate(effectiveDate.value)" #effectiveDate class="form-control" type="date" formControlName="effectiveDate">
                    </div>
                    <p style="color: red" *ngIf="ticketCreateForm.controls.effectiveDate.touched && ticketCreateForm.controls.effectiveDate.hasError('required')">*Bắt buộc
                      chọn</p>
                  </div>
                  <input type="hidden" formControlName="isDeleted" [value]="0">

                  <div class="row align-items-center py-3 col-md-6">
                    <div class="col-md-5">
                      <label style="font-weight: bold" class="mb-0">Thời gian hết hạn:</label>
                    </div>
                    <div class="col-md-7">
                      <input (change)="expiryDates(expiryDate.value)" #expiryDate class="form-control" type="date" formControlName="expiryDate">
                    </div>
                    <p style="color: red" *ngIf="ticketCreateForm.controls.expiryDate.touched && ticketCreateForm.controls.expiryDate.hasError('required')">*Bắt buộc
                      chọn</p>
                  </div>
                </div>

                <div class="row d-flex">
                  <div class="row align-items-center py-3 col-md-6">
                    <div class="col-md-4">
                      <label style="font-weight: bold">Tầng: <b style="color: red">*</b></label>
                    </div>
                    <div class="col-md-8">
                      <select class="form-select" readonly>
                        <option value="" selected>---Mời chọn tầng---</option>
                        <option *ngFor="let floor of floorList" [value]="floor.id">{{floor.name}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="row align-items-center py-3 col-md-6">
                    <div class="col-md-4">
                      <label style="font-weight: bold" class="mb-0">Vị trí: <b style="color: red">*</b></label>
                    </div>
                    <div class="col-md-8">
                      <select name="" id="" class="form-select" formControlName="location" >
                        <option selected [value]="null">---Mời chọn vị trí---</option>
<!--                        <option selected [(ngModel)]="locationInfo">{{locationInfoName}}</option>-->
                        <option *ngFor="let location of locationList" [value]="location.id">{{location.name}}</option>
                      </select>
                    </div>
                    <p style="color: red" *ngIf="ticketCreateForm.controls.location.touched && ticketCreateForm.controls.location.hasError('required')">*Bắt buộc
                      chọn</p>
                  </div>
                </div>

                <div class="row d-flex">
                  <div class="row align-items-center py-3 col-md-6">
                    <div class="col-md-4">
                      <label style="font-weight: bold" class="mb-0">Xe khách đi: <b style="color: red">*</b></label>
                    </div>
                    <div class="col-md-8">
                      <select (change)="getRate(carId.value)" *ngIf="enableChooseCar == true" #carId  class="form-select" formControlName="car" >
                        <option selected [value]="null">---Mời chọn xe khách ---</option>
                        <option *ngFor="let car of carList" [value]="car.id">{{car.name}}</option>
                      </select>
                    </div>
                    <p style="color: red" *ngIf="ticketCreateForm.controls.car.touched && ticketCreateForm.controls.car.hasError('required')">*Bắt buộc
                      chọn</p>
                  </div>
                  <div class="row align-items-center py-3 col-md-6">
                    <div class="col-md-4">
                      <label style="font-weight: bold" class="mb-0">Loại vé: <b
                        style="color: red">*</b></label>
                    </div>
                    <div class="col-md-8">
                      <select class="form-select" formControlName="ticketType">
                        <option [value]="null" selected>---Mời chọn loại vé---</option>
                        <option *ngFor="let item of ticketTypeList" [value]="item.id">{{item.name}}</option>
                      </select>
                    </div>
                    <p style="color: red" *ngIf="ticketCreateForm.controls.ticketType.touched && ticketCreateForm.controls.ticketType.hasError('required')">*Bắt buộc
                      chọn</p>
                  </div>
                </div>

                <div class="row d-flex" class="row">
                  <div class="row align-items-center py-3 col-md-12">
                    <div class="col-md-2">
                      <label style="font-weight: bold">Tổng giá:</label>
                    </div>
                    <div class="col-md-9">
                      <input [(ngModel)]="priceTotal" readonly  class="form-control" formControlName="totalPrice" style="text-align: center" placeholder="Giá vé"
                             type="text">
                    </div>
                  </div>
                </div>

                <div style="text-align: center" class="px-5 py-4">
                  <button type="submit" class="btn btn-secondary">Quay lại</button>
                  <button style="margin-left: 10px;background-color:  #E67E22" type="submit"
                          class="btn">
                    Lưu thông tin
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-2"></div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true" style="background-color: #999999">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Tìm kiếm thông tin khách hàng</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Hủy"></button>
      </div>
      <div class="modal-body">

        <div class="modal-body">
          <div class="row">
            <div class="col-6">
              <div>
                <label>
                  <input #name type="text" class="form-control" placeholder="Tìm kiếm theo tên: ...">
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <button type="submit" class="btn" (click)="searchCustomerByName(name.value)" style="background-color: darkorange">Tìm kiếm</button>
            </div>
            <br>
          </div>

        </div>
        <table class="container  fixed-size-table table table-hover " data-bs-dismiss="modal"
               style=";width: 95%;margin-bottom: 20px;border-radius:10px">
          <thead style="background-color: #E67E22">
          <tr style="text-align: center">
            <th scope="col" style="margin-left: 25px; border-top-left-radius: 10px">STT</th>
            <th scope="col" style="margin-left: 25px;">Tên </th>
            <th scope="col" style="margin-left: 25px;">SDT </th>
            <th scope="col" style="margin-left: 25px;border-top-right-radius: 10px">Chọn</th>
          </tr>
          </thead>
          <tbody style="text-align: center">
          <tr *ngFor="let customer of customerList, let i = index">
            <td>{{i + 1}}</td>
            <td>{{customer.name}}</td>
            <td>{{customer.phoneNumber}}</td>
            <td style="text-align: center" >
              <button  data-bs-dismiss="modal" style="margin-left: 30px;text-align: center;background-color: #E67E22" class="btn btn-primary "
                      routerLink='/ticket/chooseCustomer/{{customer.id}}'>Chọn
              </button>
            </td>
          </tr>
          </tbody>
        </table>
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>




