<div class="row" style="padding-top: 72px" *ngIf="ticketDetail">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-xl-7"
         style="border: 1px solid black; border-radius: 1em; box-shadow: 0 0 5px 0 #253365; background-color: white">
      <h1 style="text-align: center; margin-top: 30px; margin-bottom: 50px">CHI TIẾT VÉ</h1>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-11">
          <div class="row d-flex">
            <div class="row align-items-center py-3 col-6">
              <div class="col-5">
                <label style="font-weight: bold">Mã vé:</label>
              </div>
              <div class="col-7">
                <p>{{ticketDetail.ticketId}}</p>
              </div>
            </div>

            <div class="row align-items-center py-3 col-6">
              <div class="col-5">
                <label style="font-weight: bold" class="mb-0">Biển số xe : </label>
              </div>
              <div class="col-7">
                <p>{{ticketDetail.plateNumber}}</p>
              </div>
            </div>
          </div>

          <div class="row d-flex">
            <div class="row align-items-center py-3 col-6">
              <div class="col-5">
                <label style="font-weight: bold">Tên khách hàng :</label>
              </div>
              <div class="col-7">
                <p>{{ticketDetail.customerName}}</p>
              </div>
            </div>

            <div class="row align-items-center py-3 col-6">
              <div class="col-5">
                <label style="font-weight: bold" class="mb-0">SĐT khách hàng: </label>
              </div>
              <div class="col-7">
                <p>{{ticketDetail.customerPhoneNumber}}</p>
              </div>
            </div>
          </div>
          <div class="row d-flex">
            <div class="row align-items-center py-3 col-6">
              <div class="col-5">
                <label style="font-weight: bold">Mã khách hàng :</label>
              </div>
              <div class="col-7">
                <p>{{ticketDetail.customerCode}}</p>
              </div>
            </div>

            <div class="row align-items-center py-3 col-6">
              <div class="col-5">
                <label style="font-weight: bold" class="mb-0">Mã người tạo vé: </label>
              </div>
              <div class="col-7">
                <p>{{ticketDetail.employeeCode}}</p>
              </div>
            </div>
          </div>
          <div class="row d-flex">
            <div class="row align-items-center py-3 col-6">
              <div class="col-5">
                <label style="font-weight: bold">Tên người tạo vé: </label>
              </div>
              <div class="col-7">
                <p>{{ticketDetail.employeeName}}</p>
              </div>
            </div>

            <div class="row align-items-center py-3 col-6">
              <div class="col-5">
                <label style="font-weight: bold" class="mb-0">SĐT người tạo vé: </label>
              </div>
              <div class="col-7">
                <p>{{ticketDetail.employeePhoneNumber}}</p>
              </div>
            </div>
          </div>
          <div class="row d-flex">
            <div class="row align-items-center py-3 col-6">
              <div class="col-5">
                <label style="font-weight: bold">Thời gian có hiệu lực: </label>
              </div>
              <div class="col-7">
                <p>{{ticketDetail.effectiveDate}}</p>
              </div>
            </div>

            <div class="row align-items-center py-3 col-6">
              <div class="col-5">
                <label style="font-weight: bold" class="mb-0">Thời gian hết hiệu lực: </label>
              </div>
              <div class="col-7">
                <p>{{ticketDetail.expiryDate}}</p>
              </div>
            </div>
          </div>

          <div class="row d-flex">
            <div class="row align-items-center py-3 col-6">
              <div class="col-5">
                <label style="font-weight: bold">Loại vé: </label>
              </div>
              <div class="col-7">
                <p>{{ticketDetail.ticketType}}</p>
              </div>
            </div>

            <div class="row align-items-center py-3 col-6">
              <div class="col-5">
                <label style="font-weight: bold" class="mb-0">Giá vé: </label>
              </div>
              <div class="col-7">{{ticketDetail.totalPrice}}</div>
            </div>
          </div>

          <div class="row d-flex">
            <div class="row align-items-center py-3 col-6">
              <div class="col-5">
                <label style="font-weight: bold">Tầng: </label>
              </div>
              <div class="col-7">
                <p>{{ticketDetail.floor}}</p>
              </div>
            </div>
            <div class="row align-items-center py-3 col-6">
              <div class="col-5">
                <label style="font-weight: bold">Dãy: </label>
              </div>
              <div class="col-7">
                <p>{{ticketDetail.section}}</p>
              </div>
            </div>
          </div>

          <div class="row d-flex">
            <div class="row align-items-center py-3 col-6">
              <div class="col-5">
                <label style="font-weight: bold">Vị trí: </label>
              </div>
              <div class="col-7">
                <p>{{ticketDetail.location}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class=" text-center">
        <button routerLink="/list" type="reset" class="my-button" >Quay lại</button>
        <button routerLink="/edit/{{ticketDetail.ticketId}}}" type="reset" class="my-button" style="background-color: darkorange">Chỉnh sửa</button>
        <button (click)="setInfoDelete(
        ticketDetail.ticketId,
        ticketDetail.customerName,
        ticketDetail.plateNumber,
        ticketDetail.expiryDate
        )" type="submit" class="my-button" style="background-color: darkorange" data-bs-toggle="modal"
                data-bs-target="#deleteModal">Xóa
        </button>
      </div>
    </div>
  </div>
</div>

<!--modal delete-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Xóa vé</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          Bạn có chắc chắn muốn xoá vé dưới đây không
        </p>
        <table class="table-delete">
          <tr>
            <td>Mã vé</td>
            <td>Tên khách hàng</td>
            <td>Biển số xe</td>
            <td>Thời gian hết hiệu lực</td>
          </tr>
          <tr>
            <td class="text-danger">1</td>
            <td class="text-danger">Phan Thành Nhân</td>
            <td class="text-danger">81-H1 20032</td>
            <td class="text-danger">27/4/2023</td>
          </tr>
        </table>
        <p class="text-danger">Lưu ý: khi xóa sẽ không thể hoàn tác!</p>
      </div>
      <div class="modal-footer">
        <button class="btn" style="background-color: #e4e6eb" >Hủy</button>
        <button *ngIf="isTicketExpired" class="btn" style="background-color: darkorange" (click)="delete()">Xóa</button>
        <button *ngIf="!isTicketExpired" class="btn" style="background-color: darkorange" data-bs-toggle="modal"
                data-bs-target="#warning">Xóa
        </button>
      </div>
    </div>
  </div>
</div>
<!-- modal cảnh báo-->
<div class="modal fade" id="warning" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel2">Cảnh báo</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="text-danger">
          Vé này chưa hết hạn không thể xóa
        </p>
      </div>
      <div class="modal-footer">
        <button class="btn" style="background-color: darkorange" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
