.my-button {
  margin: 10px;
  background-image: linear-gradient(#ff8c00, #ff8c00, #fcb969);
  color: #000000;
  padding: 6px;
}

.my-button:hover {
  color: #aa5a00;
  background-image: linear-gradient(#ff9722, #ff9722, #ff9722);
}
.my-button:active {
  padding: 5px;
  color: #000000;
  background-image: linear-gradient(orange, orange, orange);
}
