<div class="container-fluid">
  <div class="row justify-content-center mt-5 mb-3">
    <h1 class="text-center">DANH SÁCH VÉ</h1>
  </div>
  <!--                     Tìm kiếm-->
  <div *ngIf="formSearchTicket" class="container" [formGroup]="formSearchTicket">
    <!--              Dòng 1-->
    <div class="col-md-12 row mt-2">
      <div class="col-1-2" >Tên KH:</div>
      <div class="col-2-8" style="margin-left: -0.5%">
        <input aria-label="Search" style="border: 1px solid darkorange" class="form-control me-2" type="text"
               formControlName="customerName"
               id="nameCustomer">
      </div>
      <div class="col-1-2 hidden-on-mobile" >SĐT KH:</div>
      <div class="col-2-8 hidden-on-mobile" style="margin-left: -0.5%">
        <input formControlName="customerPhone" aria-label="Search" style="border: 1px solid darkorange"
               class="form-control " type="text">
      </div>
      <div class="col-1-2" >Tên NTV:</div>
      <div class="col-2-8" style="margin-left: -0.5%">
        <input formControlName="employeeName" aria-label="Search" style="border: 1px solid darkorange"
               class="form-control " type="text">
      </div>
    </div>
    <!--              Dòng 2-->
    <div class="col-md-12 row mt-2">
      <div class="col-1-2 hidden-on-mobile" >SĐT NTV</div>
      <div class="col-2-8 hidden-on-mobile" style="margin-left: -0.5%">
        <input formControlName="employeePhone" aria-label="Search" style="border: 1px solid darkorange"
               class="form-control " type="text">
      </div>
      <div class="col-1-2" >Ngày hết hạn
      </div>
      <div class="col-2-8" style="margin-left: -0.5%">
        <input formControlName="expiryDate" aria-label="Search" style="border: 1px solid darkorange"
               class="form-control me-2" type="text">
      </div>
      <div class="col-1-2 hidden-on-mobile" >Tầng</div>
      <div class="col-2-8 hidden-on-mobile" style="margin-left: -0.5%">
        <select formControlName="floor" aria-label="Search" style="border: 1px solid darkorange"
                class="form-control me-2">
          <option selected [value]="null">-Chọn tầng-</option>
          <option *ngFor="let floor of floorList" [value]="floor.name">{{floor.name}}</option>
        </select>
      </div>
    </div>
    <!--              Dòng 3-->
    <div class="col-md-12 row mt-2">
      <div class="col-1-2" >Loại vé</div>
      <div class="col-2-8" style="margin-left: -0.5%">
        <select formControlName="ticketType" aria-label="Search" style="border: 1px solid darkorange"
                class="form-control me-2">
          <option [value]="null" selected >-Chọn loại vé-</option>
          <option *ngFor="let ticketType of ticketTypeList"
                  [value]="ticketType.name">{{ticketType.name}}</option>
        </select>
      </div>
      <div class="col-1-2" >Trạng thái</div>
      <div class="col-2-8" style="margin-left: -0.5%">
        <select formControlName="status" aria-label="Search" style="border: 1px solid darkorange"
                class="form-control me-2">
          <option [value]="null" selected>--Chọn trạng thái--</option>
          <option [value]="0">chưa xóa</option>
          <option [value]="1">đã xóa</option>
          <option [value]="3">hết hạn</option>
        </select>
      </div>
      <div class="col-1-2" ></div>
      <div class="col-2-8" style="margin-left: -0.5%">
        <button (click)="setStatusSearch()"
                class="btn " type="button"
                style="text-align: center; size: 30px; border: 1px solid ; background-color: darkorange">
          <i class="fa-solid fa-magnifying-glass"></i>
          Tìm kiếm
        </button>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-4 mb-1">
    <table class="m-0" style="width: fit-content;">
      <tr>
        <td class="p-0 ">
          <button (click)="setStatusFindAll()"
                  class="btn" type="button"
                  style="text-align: center; size: 30px; border: 1px solid #b6effb; background-color: darkorange">
            Tất cả vé(chưa xóa)
          </button>
        </td>
        <td class="p-0">
          <button (click)="setStatusSearchAllExpired()"
                  class="btn" type="button"
                  style="text-align: center; size: 30px; border: 1px solid #b6effb; background-color: darkorange">
            Vé hết hạn
          </button>
        </td>
      </tr>
    </table>
  </div>
  <!--                   table-->
  <div class="row justify-content-center ">
    <div class="col-12">
      <div class="col-md-12">
        <table  class="table table-bordered table-hover"
                style="box-shadow: 0 0 10px 0 darkorange; margin-top: 8px">
          <thead style="background-color: darkorange">
          <tr>
            <th scope="col" class="hidden-on-mobile" >STT</th>
            <th scope="col"  >Mã vé</th>
            <th scope="col"  >Biển số xe</th>
            <th scope="col"  >Tên khách hàng</th>
            <th scope="col" class="hidden-on-mobile" >SĐT khách hàng</th>
            <th scope="col"  >Tên người tạo vé</th>
            <th scope="col" class="hidden-on-mobile" >SĐT người tạo vé</th>
            <th scope="col" class="hidden-on-mobile" >Loại vé</th>
            <th scope="col"  >Giá vé</th>
            <th scope="col"  >Tầng</th>
            <th scope="col"  >Ngày hết hạn</th>
            <th scope="col"  >Chi tiết</th>
            <th scope="col"  >Sửa</th>
            <th scope="col"  >Xóa</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let ticket of ticketList; index as i">
            <th class="hidden-on-mobile">{{i+1}}</th>
            <td  >{{ticket.ticketId}}</td>
            <td >{{ticket.plateNumber}}</td>
            <td >{{ticket.customerName}}</td>
            <td class="hidden-on-mobile" >{{ticket.customerPhoneNumber}}</td>
            <td  >{{ticket.employeeName}}</td>
            <td class="hidden-on-mobile" >{{ticket.employeePhoneNumber}}</td>
            <td class="hidden-on-mobile" >{{ticket.ticketType}}</td>
            <td >{{ticket.totalPrice}}</td>
            <td >{{ticket.floor}}</td>
            <td >{{ticket.expiryDate}}</td>
            <td >
                                         <span routerLink="/ticket/detail/{{ticket.ticketId}}">
                                             <i class="fa-solid fa-eye"></i>
                                         </span>
            </td>
            <td class="a">
                                         <span routerLink="/ticket/update/{{ticket.ticketId}}">
                                             <i class="fa-regular fa-pen-to-square"></i>
                                         </span>
            </td>
            <td class="a">
                                        <span (click)="setInfoDelete(
                                          ticket.ticketId,
                                          ticket.customerName,
                                          ticket.plateNumber,
                                          ticket.expiryDate
                                          )" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                            <i class="fa-regular fa-trash-can"></i>
                                        </span>
            </td>
          </tr>
          <tr *ngIf="!ticketList">
            <td *ngIf="isServerOnline" colspan="14">
              <span class="ms-3">Không tìm thấy dữ liệu</span>
            </td>
            <td *ngIf="!isServerOnline" colspan="14">
              <span class="ms-3">Server đang mất kết nối</span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row container-fluid">
    <div class="col-4" style="margin-top: 5px">
      <button class="btn" type="button" style="float: left; background-color: darkorange"
              routerLink="/ticket/create">
        Thêm vé
      </button>
    </div>
    <div class="col-1"></div>
    <div class="col-7" style="margin-top: 5px">
      <nav aria-label="Page navigation example" style="float: right">
        <ul class="pagination" *ngIf="totalPage > 1">
          <li class="page-item">
            <button [ngClass]="{disabled: currentPage === 0 }" style="background-color: darkorange"
                    (click)="previousPage()" class="btn" aria-label="Previous">
              <span aria-hidden="true" style="color: black">Trước</span>
            </button>
          </li>
          <li class="page-item" *ngFor="let pageNumber of pageNumbersToDisplay">
            <a style="color: black" class="page-link page" [ngClass]="{currentPage: currentPage + 1 == pageNumber}"
               (click)="goToPage(pageNumber)">
              {{ pageNumber === '...' ? pageNumber : pageNumber }}
            </a>
          </li>
          <li class="page-item">
            <button [ngClass]="{disabled: currentPage == totalPage - 1 }" style="background-color: darkorange"
                    class="btn" (click)="nextPage()" aria-label="Next">
              <span aria-hidden="true" style="color: black">Sau</span>
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <!--modal delete-->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Xóa vé</h1>
          <button type="button" class="btn rounded-pill border-0  border-0 rounded-pill-close"
                  data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            Bạn có chắc chắn muốn xoá vé dưới đây không
          </p>
          <table class="my-table">
            <tr>
              <th >Mã vé</th>
              <th >Tên khách hàng</th>
              <th >Tên khách hhcàng</th>
              <th >Biển số xe</th>
              <th >Ngày hết hạn</th>
            </tr>
            <tr>
              <td class="text-danger ">{{idDelete}}</td>
              <td class="text-danger ">{{nameCustomerDelete}}</td>
              <td class="text-danger ">{{plateNumberDelete}}</td>
              <td class="text-danger ">{{expiryDateDelete}}</td>
            </tr>
          </table>
          <p class="text-danger">Lưu ý: khi xóa sẽ không thể hoàn tác!</p>
        </div>
        <div class="modal-footer">
          <button type="reset" class="btn "
                  style="background-color: #e4e6eb" data-bs-dismiss="modal">Hủy
          </button>
          <button *ngIf="isTicketExpired" class="btn"
                  style="background-color: darkorange" (click)="delete()" data-bs-dismiss="modal">Xóa
          </button>
          <button *ngIf="!isTicketExpired" class="btn" style="background-color: darkorange"
                  (click)="disPlayAlert()" data-bs-dismiss="modal">Xóa
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
