
.currentPage {
  /*background-color: #b3c444*/
  background-color: #E67E22;
}

table {
  width: max-content;
  /*table-layout:fixed;*/
}


td, th {
  text-align: center;
  padding: 8px;
  word-wrap: break-word;
}
